# Port on the host machine (local computer) that will be used for mapping to the Docker container.
HOST_PORT=4099
# Web App URL OMNISOURCE untuk redirect ke page tsb
NEXT_PUBLIC_WEB_APP=https://staging.omnisource.id/
# App Store URL untuk unduh di iOS
NEXT_PUBLIC_APPSTORE_URL=https://www.apple.com/id/app-store/
# Play Store URL untuk unduh di Android
NEXT_PUBLIC_PLAYSTORE_URL=https://play.google.com/store/
# Help Center URL untuk redirect ke repo help-center
NEXT_PUBLIC_HELP_CENTER_URL=https://dev-omnisource-help-center.gamatecha.space/
# Landing Page URL to set MetaData for this LP
NEXT_PUBLIC_LP_URL=https://dev-omnisource-lp.gamatecha.space
# Untuk mendeteksi/mark environment
NEXT_PUBLIC_ENVIRONMENT=local
